.listItemTitle {
    margin-top: 5%;
    color: #FFCE4B;
    font-size: 52px;
    font-family: 'Oswald', sans-serif;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgb(255, 255, 255);
}

.deliveryListItem {
    display: flex;
    flex-direction: row;
}


.detailsLink {
 background-color: rgb(222, 206, 91);
color: grey;
 border: 0.1vmin solid white;
margin-bottom: 2vmin;
 margin-top: 2vmin;
}

.detailsLink:hover {
    background-color:rgba(252, 252, 252, 0.756);
    color: rgb(94, 94, 94);
    border: 0.1vmin solid yellow;
}
