.panel-title {
    font-size: 25px;
    margin-top: 20px;
    margin-right: 20px;
    color: rgb(59, 68, 74);
}

.deliveryDiv {
margin-right: 2vmin;
font-size: 11px;
border: rgb(247, 247, 245) solid 0.2vmin;
padding-bottom: 2vmin;
border-radius: 2vmin;
margin-right: 5%;
background-color:rgba(24, 24, 23, 0.291);
}
.packageTitle {
    margin-top: 4vmin;
    font-size: 19px;
    color: white;
}

.detailsLink {
 background-color: rgb(222, 206, 91);
color: grey;
 border: 0.1vmin solid white;
margin-bottom: 2vmin;
 margin-top: 2vmin;
}

.detailsLink:hover {
    background-color:rgba(252, 252, 252, 0.756);
    color: rgb(94, 94, 94);
    border: 0.1vmin solid yellow;
}

.destinationTitle {
    margin-top: 10%;
}