@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.userIcon {
    color:#383938;
    margin-right: 2vmin;
    vertical-align: middle;
    border: 0.3vmin #555957 solid;
    border-radius:50%;
}
.appIcon {
    font-size: 8vmin;
    padding-right: 2vmin;
    vertical-align: middle;
    color: rgb(55, 57, 56);
}

.navUserText {
font-size: 2.5vmin;
display: inline;
}

.navLink {
    color: #3d413f;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
}
.navLink:hover {
    color: rgb(16, 16, 16);
    text-decoration: none;
}


.navTitle {
    margin-right: 3vmin;
    font-size: 5vmin;
    font-style: oblique;
    font-family: 'Hammersmith One', sans-serif;
    color: #F33427;
}

.navLogOutBtn {
    border: 0.3vmin #444444 double;
}
.navLogOutBtn:hover {
    background: #dee1d9;
    border: 0.3vmin #444444 solid;
    color: #d3c30f;
}

.navbar {
    background: #FFCE4B;
}